/*
cf. Sea Wolf: Kuler;
#DC3522
#D9CB9E
#374140
#2A2C2B
#1E1E20
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
    color: #374140;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6{
    /*font-weight: 300;*/
}

abbr[title] {
    border-bottom: 0;
}

a {
    /*color: #2980B9;*/
    color: #29B781;
    text-decoration: none;
}

.no-touch a:hover{
    text-decoration: underline;
}

p {
    margin-bottom: 1.1em;
}

body {
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
}

dl.no-indent dd{
    margin-left: 0;
}

.main-header {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.main-header img {
    width: 150px;
    border-radius: 10px;
}

.main-header h1 small {
    font-size: 60%;
}

.main-header nav ul {
    padding-left: 0;
}

.main-header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.main-header dl dd {
    margin-bottom: 10px;
}

.entry {
    margin-bottom: 60px;
}

.entry ul {
    padding-left: 20px;
    list-style-type: square;
}

.entry ul li{
    color: #666;
}

.entry dt {
    font-size: 1em;
}

dt.note {
    font-size: 0.7em;
    color: #888;
}

.entry dt small {
    color: #000;
    font-style: italic;
    margin-right: 0.3em;
}

.entry dl dd {
    margin-bottom: 25px;
}

.main-content hr {
    margin-bottom: 60px;
}

.main-footer {
    margin: 40px 0;
    color: #ccc;
}

@media screen and (max-width: 630px) {
    body {
        width: 90%;
        padding: 0 5%;
        margin-top: 20px;
    }

    .main-header {
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .main-header img {
        width: 130px;
    }
}

